# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Env files
.env
.env.*

# Build / output folders
dist/
build/
.cache/

# OS files
.DS_Store
Thumbs.db