button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  padding-right: 250px;
}

.button {
  --border-right: 10px;
  --text-stroke-color: rgba(14, 12, 12, 0.6);
  --animation-color: #137ed6;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 4px var(--animation-color);
  white-space: nowrap;
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* 🔽 Adicione esta parte para responsividade */
@media (max-width: 768px) {
  .button {
    padding-right: 20px;
    --fs-size: 1.8em;
  }

  .hover-text {
    -webkit-text-stroke: 1.5px var(--animation-color);
  }
}